@using AutoMarketplace.Extensions;
@model List<CarMakeModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, choose a car make</h1>
    @if (User.IsAdmin())
    {
        <button id="createModel" type="button" class="btn btn-info " data-toggle="modal" data-target="#exampleModal" style="color: white;">Create Make</button>
    }
</div>

<section class="car-make-wrapper">
    @foreach (var carMake in Model)
    {
        <a asp-controller="Cars" asp-action="CarMakeDetails" asp-route-id="@carMake.Id" class="car-make-card">
            <img src="@carMake.LogoUrl" alt="@carMake.Name" />
            <p>@carMake.Name</p>
        </a>
    }
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a new make</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Cars" asp-action="AddMake" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Name:</label>
                        <input type="text" name="name" class="form-control" id="recipient-name">
                    </div>

                    <label class="form-label" for="customFile">Logo:</label>
                    <input type="file" name="logo" class="form-control" id="customFile" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        $("#createModel").click(function () {
            $("#exampleModal").modal("show");
        });
        $(".close").click(function () {
            $("#exampleModal").modal("hide");
        });
    </script>

}