@model CarModelDto

<section>
    <div style="text-align: center;">
        <img src="@Model.ImageUrl" style="width: 400px; height: 229px;object-fit: cover;" />
        <h1>@Model.Name Information</h1>
    </div>
</section>
